<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLinkActive="active" routerLink="/employees" class="nav-link" href="#">Employees <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/managers"  class="nav-link" href="#">Managers</a>
      </li>
    </ul>
    <ul class="navbar-nav">
<li>
  <a *ngIf="!authservice.loggedIn()" routerLinkActive="active" routerLink="/register" class="nav-link" href="#">Register</a>
</li>
<li>
  <a *ngIf="!authservice.loggedIn()" routerLinkActive="active" routerLink="/login" class="nav-link" href="#">Login</a>
</li>
<li>
  <a *ngIf="authservice.loggedIn()" routerLinkActive="active"  (click)= "authservice.logout()" class="nav-link" href="#">Logout</a>
</li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
